node_modules
.env
dist
*.log
*.db
*.db-journal
uploads/*
data/*
!uploads/.gitkeep
!data/.gitkeep
cache/
*.xml
*.xml.gz
backups/
webgrab/data/*
!webgrab/data/.gitkeep
webgrab/config/*.xml
webgrab/config/siteini/
webgrab/config/siteini.pack/
!webgrab/config/WebGrab++.config.template.xml
!webgrab/config/.gitkeep
webgrab/.tmp/
